.favorites_wrap{
    // padding: 5%;
    .new_wrap_favorites{
        padding: 5%;
        padding-bottom: 80vh;
        h2 {
        margin-block: 2vh;
        }
        .singleFavoriteItem_wrap{
            display: grid;
            grid-template-columns: 6fr 1fr;
            gap: 12px;
            .filledHeart_wrap_favorites{
                fill: var(--select);
            }
        }
    .productItem{
        margin-bottom: 4vh;
    }
    }
    
}