.favorites_wrap{
    // padding: 5%;
    .new_wrap_favorites{
        padding: 5%;
        padding-bottom: 15vh;
        h2 {
        margin-block: 2vh;
    }
    .productItem{
        margin-bottom: 2vh;
    }
    }
    
}