.cartcontainer_Cart {

    padding-block: 8vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .media_query{
        @media (min-width: 576px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5vh;
        }
        @media (min-width: 900px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5vh;
        }
        @media (min-width: 1200px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 5vh;
            place-items: center;
        }
    }



    .cart_empty {
        text-align: center;
        padding-top: 20px;

        
    }
    .price_container {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
        padding: 5%;
        background-color: var(--backgroundItem);
        border-radius: 24px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
        margin-top: 8vh;
        margin-bottom: 4vh;
        
        
    


        
        p {
            padding: 6px;
            font-size: 1rem;

            &:nth-of-type(2){
                border-bottom: 1px solid white;

            }
            &:nth-of-type(3) {
                font-weight: 900;
                    
            }
        }
            .checkout_btn {
                font-family: "PoppinsBold", Arial, Helvetica, sans-serif;
                color: white;
                width: 100%;
                padding: 4%;
                border-radius: 16px;
                border: none;
                background-color: var(--select);
                margin-top: 30px;
            
        }
    }
}




    padding-bottom: 100px;
}

