.productList {
	background-color: #f5f5f5;
	padding-block: 5%;
	.sortandall {
		display: flex;
		justify-content: space-between;
		margin-inline: 3%;
	}
	label {
		select {
			color: #364fd4;
			border: none;
			background: transparent;
			-webkit-appearance: none;
			width: 25vw;
			&:focus {
				outline: none;
			}
		}
	}
}
