.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	background: transparent;
	backdrop-filter: blur(16px) brightness(80%);
	z-index: 2;
	top: -130%;
	transition: all 1s ease-in-out;
	padding: 4%;
	text-align: center;
	article {
		margin-block-end: 8vh;
		h3 {
			margin-block: 4%;
			color: white;
			font-size: 2rem;
			text-shadow: 0 0 3px black;
		}
		div {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 1vh;

			p {
				background-color: white;
				padding: 2%;
				border-radius: 4px;
				box-shadow: 0 0 2px 1px black;
			}
		}
	}
	.addFilterBtn {
		width: 80%;
		border: none;
		background-color: #364fd4;
		color: white;
		font-size: 1.5rem;
		padding-block: 2%;
		border-radius: 8px;
		margin: 4% auto;
	}
}
.slideAktive {
	top: 0;
	position: fixed;
}
