.slide {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background: transparent;
	backdrop-filter: blur(16px) brightness(80%);
	z-index: 2;
	top: -170vh;
	transition: all 1s ease-in-out;
	padding: 2.5%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 1;

	article {
		h3 {
			margin-block: 4%;
			color: white;
			font-size: 2rem;
			text-shadow: 0 0 3px black;
		}
		div {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 1vh;

			p {
				background-color: white;
				padding: 4% 2%;
				border-radius: 4px;
				box-shadow: 0 0 2px 1px black;
				&:active {
					background-color: #364fd4;
					color: white;
				}
			}
		}
	}
	.addFilterBtn {
		width: 30vw;
		border: none;
		background-color: #364fd4;
		color: white;
		font-size: 3vw;
		padding-block: 2vh;
		border-radius: 8px;
		margin: 2vh auto;
	}
	.btnWrapper {
		display: flex;
		padding-inline: 5%;
		justify-content: center;
	}
}
.slideAktive {
	top: 0;
	position: fixed;
}

@media (min-width: 900px) {
	.slide {
		padding: 2% 5%;
		article {
			h3 {
				margin-block: 2%;
			}
			div {
				display: grid;
				grid-template-columns: repeat(autofit, 1fr);
				gap: 1vh;
				width: 100%;
				padding-inline: 5%;

				p {
					background-color: white;
					padding: 4% 2%;
					border-radius: 4px;
					box-shadow: 0 0 2px 1px black;
					font-size: 1.5vw;
					&:active {
						background-color: #364fd4;
						color: white;
					}
				}
			}
		}
		.categoryBar {
			margin: 0 5%;
			a {
				min-width: 5vw;
				padding: 0.5%;
			}
		}
		.addFilterBtn {
			width: 12vw;

			background-color: #364fd4;
			color: white;
			font-size: 1.5vw;
			padding-block: 2vh;
			border-radius: 8px;
			margin: 2vh auto;
		}
		.btnWrapper {
			display: flex;
			padding-inline: 20%;
			justify-content: space-around;
		}
	}
}
