.galleryContainer_Home {
	text-align: center;
	padding-block: 2.5%;
	h1 {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 3vh;
		font-size: 1.8rem;
	}
	title {
		display: flex;
		padding-inline: 2.5%;
		justify-content: space-between;
		width: 100%;
		a {
			h3 {
				color: gray;
			}
		}
	}
}
