.nav_Navbar {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroundItem);
    width: 100%;
    height: 60px;
    padding-inline: 16px;
    box-shadow: 0px 0px 20px 0px rgba(62, 62, 62, 0.532);
    .homeButton_Navbar {
        width: 30px;
    }
    .toggleContainer_Navbar {
        background-color: var(--select);
        border-radius: 50px;
        width: 70px;
        height: 40px;
        padding: 5px;
        position: relative;
        .toggleBackground_NBavbar {
            width: 60px;
            height: 30px;
            border-radius: 15px;
            background-color: var(--selectSelected);
            position: absolute;
            z-index: 1;
        }
        .toggle_Navbar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: var(--backgroundItem);
            z-index: 2;
            box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.498);
            transition: transform 250ms;
            left: 5px;
            position: absolute;
        }
        .dark {
            transform: translateX(30px);
            box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.498);
        }
    }
}