.cartPage_wrap{
    // kompletter wrapper der Detailpage
    padding: 5%;
    padding-bottom: 20vh;
    background-color: var(--background);
    @media (min-width: 576px){
        text-align: center;
    }

    .header_wrap_cart{
        margin-top: 3vh;
        margin-bottom: 4vh;
        text-align: center;
        position: relative;
        .leftArrow_wrap_cart{
            position: absolute;
            margin-right: 10px;
            &:hover{
                cursor: pointer;
            }
        }
        .headerTitle_cart{
            // text-align: center;
            max-width: 80%;
            margin: 0 auto;
            display: inline-block;
        }
        .heart_wrap_cart{
            position: absolute;
            right: 0;
            top: 0;
            
        }
    }
    .detailCard_wrap_cart{
        max-width: 500px;
        margin: 0 auto;
        img {
            max-width: 100%;
            display: block;
            border-top-right-radius: 24px;
            border-top-left-radius: 24px;
        }
        .info_wrap_cart{
            background-color: var(--backgroundItem);
            padding: 5%;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;

            .firstFlex_wrap_cart{
                display: flex;
                justify-content: space-between;
                text-align: left;

                .quantityCounter_wrap_cart{
                    display: flex;
                    align-items: center;
                    p{
                        padding: 6px;
                        font-size: 1rem;
                    }
                    button {
                        padding: 4px 8px;
                        border: none;
                        border-radius: 4px;
                        color: var(--color);
                        &:nth-of-type(1){
                            background-color: #CAD1D9;
                            padding-inline: 10px;
                            &:hover{
                                background-color: #9fa5ac;
                                cursor: pointer;
                            }
                        }
                        &:nth-of-type(2){
                            background-color: #828B9A;
                            &:hover{
                                background-color: #5e6571;
                                cursor: pointer;
                            }
                        }
                    }
                }
                
            }
            .rating_cart{
                margin-top: 0.5vh;
                margin-bottom: 2vh;
                display: flex;
                align-items: center;
            }
            .secondFlex_wrap_cart{
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                .stock_cart{
                    color: #B9C1CC;
                }
                .price_cart {
                    font-family: "PoppinsBold", Arial, Helvetica, sans-serif;
                    font-size: 1.75rem;
                    color: var(--select);
                }
            }
        }
    }

    .descriptionHeadline_cart{
        margin-top: 3vh;
        margin-bottom: 1.5vh;
        text-align: left;
    }
    .description_cart {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-bottom: 4vh;
        text-align: left;
    }
    .addToCart{
        font-family: "PoppinsBold", Arial, Helvetica, sans-serif;
        color: white;
        width: 100%;
        padding: 4%;
        border-radius: 16px;
        border: none;
        background-color: var(--select);
        &:hover{
            background-color: var(--selectSelected);
            cursor: pointer;
        }
        @media (min-width: 576px){
            width: 500px;
            padding: 24px 48px;
        }
    }
}