.detailPage_wrap{
    // kompletter wrapper der Detailpage
    padding: 5%;
    padding-bottom: 20vh;
    background-color: var(--backgroundItem);

    .header_wrap_details{
        margin-top: 3vh;
        margin-bottom: 4vh;
        text-align: center;
        position: relative;
        .leftArrow_wrap_details{
            position: absolute;
            margin-right: 10px;
            &:hover{
                cursor: pointer;
            }
        }
        .headerTitle_details{
            // text-align: center;
            max-width: 80%;
            margin: 0 auto;
            display: inline-block;
        }
        .heart_wrap_details{
            position: absolute;
            right: 0;
            top: 0;
            
        }
    }
    
    .detailCard_wrap_details{
        max-width: 500px;
        margin: 0 auto;
        img {
            max-width: 100%;
            display: block;
            border-top-right-radius: 24px;
            border-top-left-radius: 24px;
        }
        .info_wrap_details{
            background-color: inherit;
            padding: 5%;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;

            .firstFlex_wrap_details{
                display: flex;
                justify-content: space-between;

                .quantityCounter_wrap_details{
                    display: flex;
                    align-items: center;
                    p{
                        padding: 6px;
                        font-size: 1rem;
                    }
                    button {
                        padding: 4px 8px;
                        border: none;
                        border-radius: 4px;
                        color: var(--color);
                        &:nth-of-type(1){
                            background-color: #CAD1D9;
                            padding-inline: 10px;
                            &:hover{
                                background-color: #9fa5ac;
                                cursor: pointer;
                            }
                        }
                        &:nth-of-type(2){
                            background-color: #828B9A;
                            &:hover{
                                background-color: #5e6571;
                                cursor: pointer;
                            }
                        }
                    }
                }
                
            }
            .rating_details{
                margin-top: 0.5vh;
                margin-bottom: 2vh;
                display: flex;
            }
            .secondFlex_wrap_details{
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                h4 {
                    font-family: "PoppinsBold", Arial, Helvetica, sans-serif;
                    font-size: 1.75rem;
                }
            }
        }
    }

    .descriptionHeadline_details{
        margin-top: 3vh;
        margin-bottom: 1.5vh;
    }
    .description_details {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-bottom: 2vh;
    }
    .addToCart{
        font-family: "PoppinsBold", Arial, Helvetica, sans-serif;
        color: white;
        width: 100%;
        padding: 4%;
        border-radius: 16px;
        border: none;
        background-color: var(--select);
        &:hover{
            background-color: var(--selectSelected);
            cursor: pointer;
        }
    }
}