.searchWrapper {
	display: flex;
	justify-content: center;
	gap: 2vw;
	margin-bottom: 3vw;
	.search {
		input {
			height: 6vw;
			width: 40vw;
			border-radius: 1vw;
			padding: 1vw;
			font-size: 3vw;
			background-color: rgba(128, 128, 128, 0.242);
			border: none;
			&:focus {
				outline: none;
			}
			&::placeholder {
				padding-left: 3.5vw;
				background: url(../../../public/img/Search.svg) left / contain
					no-repeat;
			}
		}
	}
	.imageHolder {
		background-color: var(--select);
		width: 6vw;
		aspect-ratio: 1/1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 1vw;
		padding: 1%;
		img {
			width: 100%;
			aspect-ratio: 1/1;
		}
	}
}
