.searchWrapper {
	display: flex;
	justify-content: center;
	gap: 2vw;
	margin-bottom: 3vw;
	.search {
		input {
			height: 5vh;
			width: 65vw;
			border-radius: 1vw;
			padding: 2vw;
			font-size: 2.5vh;
			background-color: rgba(128, 128, 128, 0.242);
			border: none;
			&:focus {
				outline: none;
			}
			&::placeholder {
				padding-left: 3vh;
				background: url(../../../public/img/Search.svg) left / contain
					no-repeat;
			}
		}
	}
	.imageHolder {
		background-color: #364fd4;
		width: 5vh;
		aspect-ratio: 1/1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 1vw;
		padding: 1%;
		img {
			width: 100%;
			aspect-ratio: 1/1;
		}
	}
}

@media (min-width: 900px) {
	.searchWrapper {
		.search {
			input {
				width: 45vw;
				font-size: 2vw;
				&::placeholder {
					padding-left: 2.3vw;
				}
			}
		}
	}
	.imageHolder {
		width: 4vw !important;
		padding: 0.5% !important;
	}
}
