.singleProduct_wrap_productitem{
    max-width: 100%;
    background-color: white;
    border-radius: 8px;
    text-align: left;
    padding: 3%;
    a {
        text-decoration: none;
        color: inherit;
    }
    img {
        max-width: 95%;
        display: block;
        aspect-ratio: 1 / 1;
        border-radius: 8px;
        margin: 1vh auto;
    }
    .rating_productitem{
        display: flex;
        padding-left: 2%;
    }
    .productTitle_productitem{
        padding-left: 2%;
    }
    .flex_pundbutton {
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    padding-left: 2%;
    gap: 5px;
        .addToCart_productitem {
            padding: 4px 8px;
            border-radius: 50%;
            background-color: #364FD4;
            color: white;
            border: none;
        }
    }
}


