.productItem {
	background-color: var(--backgroundItem);
	padding: 5%;
	border-radius: 12px;
	text-align: left;
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 4px 1px rgb(124, 124, 124);
	.productImage {
		border-radius: 8px;
		margin-bottom: 0.7vh;
		background-color: var(--backgroundItem);
		width: 90%;
		margin: 0 auto;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		object-position: center;
	}
	h4,
	h3,
	h2 {
		margin-bottom: 0.8vh;
		font-size: 0.7rem;
		color: gray;
	}
	.rating_productitem {
		display: flex;
		margin-top: 1vh;
		align-items: center;
	}

	h2 {
		font-size: 1.8vh;
		color: black;
		margin-bottom: 14%;
	}
	h3 {
		font-size: 2vh;
		color: var(--select);
	}
	.priceContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		bottom: -6%;
		left: 0;
		right: 0;
		padding-inline: 5%;
		height: 8vh;
	}
	.addButton {
		width: 3.5vh;
		position: relative;
		bottom: 3%;
	}
}

@media (min-width: 900px) {
	.productItem {
		h4 {
			font-size: 1.2vw;
		}
		h3 {
			font-size: 1.3rem;
		}
		h2 {
			font-size: 1.2vw;
		}
	}
	.priceContainer {
		bottom: -1% !important;
	}
	.addButton {
		width: 5vh !important;
	}
}
