* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: #f5f5f5;
    --color: black;
    --backgroundItem: white;
    --select: #364FD4;
    --selectSelected: #2a3da8;
}

.darkmode {
    --background: rgb(25, 25, 25);
    --color: white;
    --backgroundItem: rgb(80, 80, 80);
    --select: tomato;
    --selectSelected: rgb(179, 74, 55);

}

@font-face {
    font-family: "PoppinsReg";
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "PoppinsBold";
    src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}

body {
    font-family: "PoppinsReg", Arial, Helvetica, sans-serif;
    .appContainer_App {
        background-color: var(--background);
        color: var(--color);
    }
}